.search-holder{
    width:100%;
    background: #efebeb;
    border: 2px solid #242424;
    border-radius: 5px;
    padding:15px;
}
.react-datepicker-wrapper, .react-datepicker__input-container, .react-datepicker__input-container input{
    width:100%;
}

.react-datepicker__input-container input{
    display: inline-block;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff;
    border: 1px solid #28a745;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.lookForMatch{
    display: block;
    font-weight: bold;
    color:#28a745;
}