.howThingsWork{
    color:#3b9d00;
    font-weight: bold;
}
.circle {
    background-color:#fff;
    border:2px solid #cae35b;    
    height:25px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:25px;
    display: inline-block;
    text-align: center;
    color:#cae35b;
    line-height: 21px;
    float: left;
}
.number-holder{
    margin-bottom:20px;
}